[Unit]
Description=Python SQS Worker Service
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user
ExecStart=/usr/bin/python3.11 /home/ec2-user/worker_sqs.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
